.DS_Store
._.DS_Store
log/**/*
tmp/**/*
vendor/gems/*
!vendor/gems/cache/
.sass-cache/*
db/*.db
.*.sw*
.bundle
vendor
platform.pem
.idea
unicorn.pid
.capistrano
node_modules
bower_components
coverage
public/tea
app/views/tea/**/*.erb
