<div ng-controller="SidebarCtrl">
  <div class="list-group">
    <a class="list-group-item" href="/">
      <i class="dashboard icon"></i>dashboard
    </a>
  </div>
  <hr />
  <div class="list-group">
<!-- 
    <a class="list-group-item" ui-sref="info" ui-sref-active="active">
      <span class="badge" tea-badge="badge-info"></span>お知らせ
    </a>
 -->
    <a class="list-group-item" ui-sref="list" ui-sref-active="active">
      <span class="badge" tea-badge="badge-list"></span>一覧
    </a>
    <a class="list-group-item" ui-sref="new" ui-sref-active="active">
      <span class="badge" tea-badge="badge-new"></span>新規登録
    </a>
  </div>
</div>