.container {
  width: 980px;
    margin: 0px auto;
}
.main.container {
  background-color: #FFFFFF;
  margin: 0em auto;
  box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.05);
  border-left: 1px solid #DDDDDD;
  border-right: 1px solid #DDDDDD;
  border-bottom: 1px solid #DDDDDD;
  padding: 40px 2em 7em;
  z-index: 1;
}
