.container {
  width: 980px;
  margin: 0px auto;
}
.main.container {
  background-color: #FFFFFF;
  margin: 0em auto;
  box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.05);
  border-left: 1px solid #DDDDDD;
  border-right: 1px solid #DDDDDD;
  border-bottom: 1px solid #DDDDDD;
  padding: 70px 2em 7em;
  z-index: 1;
}

.view_area {
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  border: 1px solid #bfbfbf;
  background-color: white;
  width: 600px;
  margin-bottom: 10px;
  padding: 10px;
}

.errors {
  padding-left: 5px;
}

.info {
  margin-bottom: 10px;
}

.success {
  margin-bottom: 10px;
}

#tag {
  text-transform: none !important;
}
/*
// layouts
.table_ui {
  display: table;
  width: 700px;
}

.table_block_ui {
  vertical-align: top;
  display: table-cell;
  padding: 5px;
}

.column2 {
  width: 20%;
}

.column8 {
  width: 80%;
}

.include {
  margin-left: 20px;
}

.layout_column {
  float: left;
}

.ui_position_parent {
  position: relative;
}

.ui_delete_right {
  position: relative;
  left: 475px;
}

.pager {
  margin-top: 1rem;
}
 */
