body {
  color: #111111; }

.ui .dividing.header {
  margin-bottom: 3px; }
.ui .table {
  margin-top: 3px; }
.ui .accordion div.title {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  font-weight: bold; }
.ui .accordion .content {
  margin: 0 10px !important; }
.ui .vertical.icon.basic.primary.buttons {
  border-left: 1px solid rgba(39, 41, 43, 0.15);
  box-shadow: 0px 0px 0px 0px rgba(39, 41, 43, 0.15);
  border-radius: 0px 0.2857rem 0.2857rem 0px; }
  .ui .vertical.icon.basic.primary.buttons .button {
    border-radius: 0px 0.2857rem 0.2857rem 0px;
    box-shadow: 0px 0px 0px 0px rgba(39, 41, 43, 0.15);
    border-top: 0; }

.table tr td.title {
  color: #707070 !important; }
