{{#results}}
<div class="item">
    <div class="ui very tiny image">
        <a href="/feeling/{{id}}"><img src="{{level_pict}}" style="width: 48px;"></a>
    </div>
    <div class="content">
        <a class="ui right floated primary basic tiny button" href="/feeling?user_id={{user.id}}">
            気分一覧（{{user.lastname}} {{user.firstname}}）
            <i class="right chevron icon"></i>
        </a>
        <a class="header">{{at}} {{user.lastname}} {{user.firstname}}</a>
        <div class="meta">
            <span>コメント数 {{comments_count}}</span>
        </div>
        <div class="middle aligned description">{{{description}}}</div>
        <div class="extra">
            <!-- div class="ui label">Limited</div -->
        </div>
        <div class="ui comments" id="js-feeling-{{id}}-comments">
            {{#if comments}}
            <h3 class="ui dividing header">Comments</h3>
            {{/if}}
            {{#comments}}
            <div class="comment">
                <a class="avatar">
                    <img src="{{user.thumbnail_path}}">
                </a>
                <div class="content">
                    <a class="author">{{user.lastname}} {{user.firstname}}</a>
                    <div class="metadata">
                        <span class="date">{{created_on}}</span>
                    </div>
                    {{#if is_mine}}
                    <a class="ui right floated primary basic tiny button">
                        <i class="remove icon"></i>削除
                    </a>
                    {{/if}}
                    <div class="text">
                        {{{comments}}}
                    </div>
                </div>
            </div>
            {{/comments}}
        </div>
        <div class="ui accordion">
            <div class="title">
                <i class="dropdown icon"></i>
                コメント追加
            </div>
            <div class="content">
                <form class="ui reply form" id="js-feeling-{{id}}">
                    <div class="field">
                        <textarea name="comments" rows="1"></textarea>
                    </div>
                    <div class="ui blue labeled submit icon tiny button">
                        <i class="icon edit"></i> コメント
                    </div>
                    <input type="hidden" name="id" value="{{id}}">
                </form>
            </div>
        </div>
    </div>
</div>
{{/results}}
