@charset "utf-8";

.ui {
  .very.tiny.image {
    width: 48px;
  }
  .items > .item > .content p {
    margin: 0em 0em 1em;
  }
  .comments .reply.form textarea {
    min-height: 3em;
    height: 3em;;
  }
  .items > .item > div.content .description {
    max-width: none;
    line-height: 1.5;
  }
}
ul.ui.list li, ol.ui.list li, .ui.list > .item, .ui.list .list > .item {
  padding: 0.1em 0em !important;
}
.preview {
  min-height: 142px;
  font-size: x-small;
}
.ui[class*="super compact"].table td {
  padding: 0.1em 0.5em;
}
.feeling.description {
  margin-top: 16px;
}
.item .content .description pre {
  background-color: transparent;
  margin: 0em;
  padding: 0em;
}
.ui.header {
  margin: 0;
}