<% form_for :user, url(:kiita, :edit_profile), :class => 'ui form' do |f| %>
  <h4 class="ui dividing header">Personal Information</h4>
  <div class="field">
      <label>profile icon</label>
      <%= f.file_field :profile_icon %>
      <%= f.submit '更新', :class => 'ui submit button' %>
  </div>
<% end %>
