<div aria-hidden="true" class="modal fade markdownHelp js-markdownHelpModal" id="help" role="dialog" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button aria-hidden="true" class="close" data-dismiss="modal" type="button">
          <i class="fa fa-times"></i>
        </button>
        <h4 class="markdownHelp_title modal-title">Markdown ヘルプ</h4>
        <span class="markdownHelp_link">(
          <a href="http://qiita.com/items/c686397e4a0f4f11683d" target="_blank">もっと詳しく</a>)
        </span>
      </div>
      <div class="markdownHelp_body modal-body">
        <table class="markdownContent">
          <thead>
            <tr>
              <th>表示</th>
              <th>Markdown</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                <b>太字</b>
              </td>
              <td>**text**</td>
            </tr>
            <tr>
              <td>
                <i>強調表示</i>
              </td>
              <td>*text*</td>
            </tr>
            <tr class="highlight">
              <td>
                <code>コードのインライン表示</code>
              </td>
              <td>`code`</td>
            </tr>
            <tr class="highlight">
              <td style="padding: 0 8px;">
                <div class="markdown-content">
                  <div class="code-frame" data-lang="ruby" style="width: 195px;">
                    <div class="code-lang">
                      <span class="bold">qiita.rb</span>
                    </div>
                    <pre><span class="nb">puts</span> <span class="s1">'code with syntax'</span></pre>
                  </div>
                </div>
              </td>
              <td>```lang:filename
                <br>code
                <br>```
              </td>
            </tr>
            <tr>
              <td>
                <a href="#">リンク</a>
              </td>
              <td>[title](http://~)</td>
            </tr>
            <tr>
              <td>画像埋め込み</td>
              <td>![alt](http://~)</td>
            </tr>
            <tr>
              <td>
                <h4>見出し (h1~h6)</h4>
              </td>
              <td># text, ## text, ### text...</td>
            </tr>
            <tr>
              <td>
                <li>箇条書き</li>
              </td>
              <td>* item</td>
            </tr>
            <tr>
              <td>
                <li style="list-style-type: decimal;">番号付きの箇条書き</li>
              </td>
              <td>1. item</td>
            </tr>
            <tr>
              <td>水平線</td>
              <td>* * *</td>
            </tr>
            <tr>
              <td>
                <blockquote style="margin: 0;">引用</blockquote>
              </td>
              <td>&gt; text</td>
            </tr>
            <tr>
              <td>Markdownのエスケープ</td>
              <td>\</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
