<!DOCTYPE html>
<html>
<head>
  <script src="https://code.jquery.com/jquery-2.1.1.js"></script>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<link href="//cdn.qiita.com/assets/bootstrap3_application-29a82f635aca83631de2ed1bbf3aa93b.css" media="all" rel="stylesheet">
</head>
<body>
<div class="draftFormWrapper">
  <div class="container-fluid">
    <div class="row">
      <% form_for :article, url(:kiita, :create), :class => 'form-horizontal' do |f| %>
        <%= partial 'kiita/form_new', :locals => { :f => f } %>
      <% end %>
    </div>
  </div>
</div>
</body>
</html>
