<% unless @articles.empty? %>
<% @articles.each do |at| %>
<div class="ui feed">
  <div class="event">
    <div class="label">
      <i class="pencil icon"></i>
    </div>
    <div class="content">
      <div class="summary">
        <% link_to url(:kiita, :view, at.id) do %>
          <%= at.title %>
        <% end %>
        <div class="date">
          <%= at.get_created_at_ago %> days ago
        </div>
      </div>
      <div class="extra text">
        <i class="tags icon"></i>
        <% if at.article_tags.present? %>
          <% at.article_tags.each do |tag| %>
            <a id="tag" class="ui  label">
              <%= tag.tag %>
            </a>
          <% end %>
        <% end %>
      </div>
      <div class="meta">
        <a class="like">
          <i class="like icon"></i> 4 Likes
        </a>
      </div>
    </div>
  </div>
</div>
<% end %>
<% end %>
