<!DOCTYPE html>
<html>
<head>
  <script src="https://code.jquery.com/jquery-2.1.1.js"></script>
  <%= stylesheet_link_tag 'semantic', 'kiita' %>
  <%= javascript_include_tag 'semantic' %>
</head>
<body>
  <h2 class="ui header">
    bizevo-kiita
  </h2>
  <section class="form_section">
    <% form_for @article, url(:kiita, :update), :name => 'article_form' do |f| %>
      <%= partial 'kiita/form_article', :locals => { :f => f } %>
    <% end %>
  </section>
</div>
</main>
</body>
</html>
