
<style>
    .ui.very.tiny.image {
        width: 48px;
    }
    .ui.items > .item > .content p {
        margin: 0em 0em 1em;
    }
    .ui.comments .reply.form textarea {
        min-height: 3em;
        height: 3em;;
    }
    .ui.items > .item > div.content .description {
        max-width: none;
        line-height: 1.5;
    }
</style>
<h2 class="ui dividing header"><i class="smile icon"></i><div class="content">気分一覧</div></h2>
<div class="content" id="feelings"></div>
<%= javascript_include_tag 'jquery.bottom-1.0.js' %>
<%= javascript_include_tag 'feeling.js' %>
