<!DOCTYPE html>
<html>
<head>
  <title><%= @title %></title>
  <script src="https://code.jquery.com/jquery-2.1.1.js"></script>
  <%= stylesheet_link_tag 'semantic', 'kiita', 'github' %>
  <%= javascript_include_tag 'semantic' %>
</head>
<body class="background">
  <div>
    <section class="layout_column">
      <div class="ui vertical labeled icon menu">
        <a class="teal item" href="/kiita/">
          <i class="home icon"></i>
          home
        </a>
        <a class="teal item" href="/kiita/new">
          <i class="add icon"></i>
          new post
        </a>
      </div>
    </section>
    <section class="include layout_column column8">
      <%= yield %>
    </section>
  </div>
</body>
