<!DOCTYPE html>
<html>
<head>
<title>bizevo</title>
<%= stylesheet_link_tag 'semantic.min', 'bizevo' %>
<%= javascript_include_tag 'vendor.js' %>
</head>
<body>
<div class="ui fixed main menu">
  <div class="container">
      <div class="title item">
        <b>bizevo</b>
      </div>
  </div>
</div>
<div class="main container">
    <% if flash[:error].present? %>
        <div class="ui negative icon message">
            <i class="warning icon"></i>
            <i class="close icon"></i>
            <div class="content">
                <div class="header">
                    <%= flash[:error] %>
                </div>
            </div>
        </div>
    <% end %>
<%= yield %>
</div>
</body>
<html>

