<div class="modal" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" ng-click="$hide()">&times;</button>
        <h4 class="modal-title">{{title || '一覧'}}</h4>
      </div>
      <div class="modal-body">
        <div ng-hide="persons.length">
          {{'誰もいないよ >_<'}}
        </div>
        <ul class="list-group" ng-show="persons.length">
         <li class="list-group-item" ng-repeat="p in persons">
          <div class="row clearfix" >
            <div class="col-md-2 column">
              <img ng-show="p.image" class="img-responsive center-block" ng-src="{{p.image}}" />
              <img ng-hide="p.image" class="img-responsive center-block" src="/images/noimage.png" />
            </div>
            <div class="col-md-10 column">
              {{p.name}}
            </div>
          </div>
         </li>
        </ul>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-default" ng-click="$hide()">Close</button>
      </div>
    </div>
  </div>
</div>